<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Spring Security Demo</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          Home<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>

    <div *ngIf="loggedUser">
      <i class="fa fa-user mx-2"></i>
      <label> {{ loggedUser.firstName }} </label>
      <button
        (click)="logoutHandler()"
        class="btn btn-outline-secondary my-2 my-sm-0 mx-5"
      >
        Logout
      </button>
    </div>

    <button
      *ngIf="!loggedUser"
      (click)="onLogin()"
      class="btn btn-outline-secondary my-2 my-sm-0 mx-5"
      type="submit"
    >
      Login
    </button>
  </div>
</nav>
